
<h1>Mi aplicacion desde {{city.toUpperCase()}} {{5 +9}}</h1>
<div>
    <h1>Que hace angular</h1>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Impedit iste sed cum qui fuga incidunt laudantium laboriosam nostrum quaerat? Beatae!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa reiciendis, ad aut fugit qui laudantium dolorem ipsum ipsam. Fugit aspernatur aliquam, quisquam asperiores quae, eaque ipsam maxime porro quia alias, perferendis aliquid. Quos repellat rem sint nostrum molestiae accusamus consequuntur iusto, officia nam rerum dolores corporis. Autem adipisci labore nam quam culpa libero dolor dicta! Vitae, natus aliquam! Veritatis excepturi culpa incidunt unde accusantium adipisci quisquam. Facilis recusandae alias neque inventore incidunt officia veniam ducimus explicabo nesciunt nihil laboriosam est voluptatum commodi molestias iste architecto, assumenda adipisci? Deleniti, blanditiis.
                 Suscipit voluptate eligendi nam eaque quibusdam, ipsam sint repellendus natus quisquam!</p>
    </article>
    @defer  {
        <app-comment></app-comment>
    } @placeholder {
        <p>Futuros comentarios</p>
    }
    

    <!-- directiva defer sirve para
     
     tiene un impacto importante en el rendimiento 
     carga diferida, cuando no haya peticiones carga el archivo

      -->
        
</div>
   

    <app-user-component>
